<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>Spooky 4</title>
</head>
<body>
    <header>
       <a href="" class="logo">
        <img src="/assets/images/logo.png" alt="">
       </a>
       <a href="" class="menu">
        <ion-icon name="apps-outline"></ion-icon>
       </a>
       <ul class="nav">
        <li>   
            <a href="/gamemode">Play Solo</a>
        </li>
        <li>
            <a href="/game/duo?play=startGame">Play Duo</a>
        </li>
        <li>
            <a href="/game/duo?play=startGame&ranked=true">Play Ranked</a>
        </li>
       </ul>
       <!-- <div class="search">
        <input type="text" placeholder="Search">
        <ion-icon name="search-outline"></ion-icon>
       </div> -->
       <ul class="nav-collapse">
        <li>
            <a href="">Play Solo</a>
        </li>
        <li>
            <a href="">Play Duo</a>
        </li>
        <li>
            <a href="">Play Ranked</a>
        </li>
       </ul>
    {{if .}}
        <section class="login-button">
        <form action="/profil" method="post">
            <input type="hidden" name="login" value="loginPage">
        <div onclick="this.parentElement.submit()"
            aria-label="User Login Button"
            tabindex="0"
            role="button"
            class="user-profile"
        >
        <div class="user-profile-inner">
            <svg
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
        >
        <g data-name="Layer 2" id="Layer_2">
            <path
                d="m15.626 11.769a6 6 0 1 0 -7.252 0 9.008 9.008 0 0 0 -5.374 8.231 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 9.008 9.008 0 0 0 -5.374-8.231zm-7.626-4.769a4 4 0 1 1 4 4 4 4 0 0 1 -4-4zm10 14h-12a1 1 0 0 1 -1-1 7 7 0 0 1 14 0 1 1 0 0 1 -1 1z"
            ></path>
            </g>
            </svg>
        <p>Profil {{.}}</p>
    {{else}}
        <section class="login-button">
        <form action="/signin" method="post">
            <input type="hidden" name="login" value="loginPage">
        <div onclick="this.parentElement.submit()"
            aria-label="User Login Button"
            tabindex="0"
            role="button"
            class="user-profile"
        >
        <div class="user-profile-inner">
            <svg
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
        >
        <g data-name="Layer 2" id="Layer_2">
            <path
                d="m15.626 11.769a6 6 0 1 0 -7.252 0 9.008 9.008 0 0 0 -5.374 8.231 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 9.008 9.008 0 0 0 -5.374-8.231zm-7.626-4.769a4 4 0 1 1 4 4 4 4 0 0 1 -4-4zm10 14h-12a1 1 0 0 1 -1-1 7 7 0 0 1 14 0 1 1 0 0 1 -1 1z"
            ></path>
            </g>
            </svg>
        <p>Log In</p>
    {{end}}
    </div>
    </div>
    </form>
    </section>
    </header>
        <div class="landing-page">
        <div class="ratings">
            <span class="score">9.9</span>
            <div class="content">
                <span class="subtitle">Review.Game Noted</span>
                <h4>Very Good Game</h4>
                <span>Play It Now</span>
            </div>
        </div>
        <div class="game">
            <ion-icon name="game-controller-outline"></ion-icon>
            <div class="content">
                <span class="subtitle">Want To Have Fun</span>
                <h4>Have Strategy To Win</h4>
                <span>Made By French Developper</span>
            </div>
        </div>
    </div>
    <section class="play-button">
    <form action="/gamemode" method="post">
    <input type="hidden" name="play" value="startGame">
    <button class="button-with-icon" type="submit" >
      <svg
        class="icon"
        id="Play"
        viewBox="0 0 48 48"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="color000000 svgShape"
          fill="#ffffff"
          d="M12 39c-.549 0-1.095-.15-1.578-.447A3.008 3.008 0 0 1 9 36V12c0-1.041.54-2.007 1.422-2.553a3.014 3.014 0 0 1 2.919-.132l24 12a3.003 3.003 0 0 1 0 5.37l-24 12c-.42.21-.885.315-1.341.315z"
        ></path>
      </svg>
      <span class="text">GameMode</span>
    </button>
    </form>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>