<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/loginPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins&" 
    rel="stylesheet">
    <title>Spookie 4</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>BOOH ! Welcome Back Little Monster !</h2>
            <form>
                <div class="input-box">
                    <input type="text" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="btn">Login</button>
                <p class="signup-text">Don't have an account? 
                    <a href="#">Sign Up</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>