*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("/assets/images/bg-login.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
}

.box h2 {
    font-family: 'Metal Mania', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 18px;
    left: 12px;
    color: #ccc;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 4px;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    background: #ffffff33;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #ffffff55;
}

.signup-text {
    font-family: 'Metal Mania', sans-serif;
    margin-top: 15px;
    font-size: 16px;
}

.signup-text a {
    font-family: 'Metal Mania', sans-serif;
    color: #F28C28;
    text-decoration: underline;
}


    /* Found Button on UIVERSE */ 


.exit-button {
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 10; /* Ensure it stays on top */
}

button {
 display: flex;
 height: 3em;
 width: 200px;
 align-items: center;
 justify-content: center;
 background-color: #F28C28;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #F28C28;
}

button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

button:hover {
 box-shadow: 9px 9px 33px black, -9px -9px 33px #F28C28;
 transform: translateY(-2px);
}