/* Par défaut (clair) */
body {
  background-color: #ffffff;
  color: #111;
  font-family: sans-serif;
}

/* Si le système est en dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f1115;
    color: #e6e9ef;
  }
}
